.listWrapper {
  max-height: 100vh;
  overflow: hidden;
}

.root {
  width: 300px;
  background-color: #ebecf0;
  margin: 1rem;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.cardContainer {
  margin-top: 2rem;
}

.card {
  padding: 0.6rem 0.6rem 0.6rem 1.4rem;
  margin: 0.4rem;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 1px solid #aaa;
}
